:root {
  --barn-red: #780000ff;
  --venetian-red: #c1121fff;
  --papaya-whip: #fdf0d5ff;
  --prussian-blue: #003049ff;
  --air-superiority-blue: #669bbcff;
  --white: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.navBarContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: var(--prussian-blue);
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo {
  width: 160px;
  height: 25px;
  background-image: url('https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg');
  background-repeat: no-repeat;
  /* border: 2px dashed beige; */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
}

ul {
  display: flex;
  gap: 2em;
}

ul>li {
  color: var(--white);
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}

.nav > .fi {
  color: var(--white);
  font-size: 20px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;

  /* border: dashed darkblue 1px; */
}

.frontPageContainer {
  height: 400px;
  background-color: var(--air-superiority-blue);
  display: flex;
  align-items: center;
  padding: 40px;
  border-radius: 5px;
}

.searxh_Box{
  /* border: 1px blue dashed; */
  height: 50px;
  display: flex;
}

#search {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.title{
  margin: 50px 0px;
  color: var(--white);
}

.title > h2 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.2em;
}

.popularMoviesNav > h2{
  color: var(--prussian-blue);
}

.title>h3 {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}

.hola{
  color: var(--barn-red);
}
button {
  height: 100%;
  width: 50px;
  border-radius: 5px;
  border: none;
  background-color: var(--prussian-blue);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button > .fi{
  color:  var(--white);
  text-align: center;
}

.popularMoviesContainer{
  display: flex;
  flex-direction: column;
  padding: 1em 2em ;
  gap: 1em;
  height: 450px;

  /* border: 1px blue dashed; */
}


.popularMoviesNav{
  display: flex;
  align-items: center;
  gap: 1em;
  min-width: 600px;
  
}

.popularMoviesNav > ul{
  border: 1px solid var(--prussian-blue);
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
}

.itemSelectPopularMenu{
  cursor: pointer;
  color: var(--prussian-blue);
}

.poster{
  width: 150px;
  height: 225px;
  overflow: hidden;
  /* border: 1px solid black; */
  border-radius: 5px;
  -webkit-box-shadow: 5px 8px 9px -6px rgba(0,0,0,0.44);
  box-shadow: 5px 8px 9px -6px rgba(0,0,0,0.44);
}

.poster>img{
  width: 100%;
  height: 100%;
}

.moviesCardContainer{
  display: flex;

}

.posterContainer{
  display: flex;
  gap: 1em;
  max-width: 1280px;
  width: 1280px;
  scroll-behavior: auto;
  position: relative;
  /* overflow: hidden; */
  /* flex-wrap: wrap;
  justify-content: space-between; */
  
}


.card{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;  

}

.infoMovie{
  display: flex;
  flex-direction: column;
}

.card > .infoMovie > a{
  
  text-decoration: none;
  color: var(--prussian-blue);
  font-weight: 700;
  font-size: 18px;
  width: 150px;
  max-height: 50px;
  overflow: hidden;
  margin-top: 5px;
}

.card > .infoMovie > span{
  color: var(--barn-red);
}


  .swiper {
    width: 100%;
    height: 100%;
  }

  .active{
    color: var(--barn-red);
    }
  